[uwsgi]

chdir           = {{socorro_working_dir}}
module          = wsgi.collector
home            = {{socorro_virtualenv}}

master          = true
processes       = 10
socket          = {{socorro_working_dir}}/collector.sock
chmod-socket    = 660
vacuum          = true